.LoginPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: black;
    height: 100vh;
    width: 100vw;
  }

  .header-footer {
    color: #bc13fe;
  }

  a {
    text-decoration: none;
    color: #ff073a;
  }

  input {
    border: none;
    border-bottom: 2px solid #4666FF;
    color: #41FF00;
    background-color: black;
    outline: none;
  }